body {
  /*background-color: #c1f9c6;*/
    background-color: #e9eef5;
}

.container {
    background-color: white;
    width: 100%;
}

.jumbotron {
    background-image: url("../images/yugioh1.png");
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}

.navbar, #mySearch {
    width: 100%;
    margin-bottom: 10px;
}

#myForm, #cardForm {
    margin: auto;
}

#myTable, #myInput, #mySearch {
    margin-left: 1em;
    margin-right: 1em;
}

.imageSection, .infoSection {
    border: 1px solid #dee2e6;
    border-radius: 0.25em;
}

.myCard, .myButtons {
    margin: auto;
}

.cardLabel {
    text-align: right;
}

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover
{
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}

footer {
    background-color: black;
    color: white;
    line-height: 3em;
    justify-content: center;
}

.footerIcons img {
    width: 40px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
}

.imageSize {
    max-width: 100%;
    height: auto;
}