body {
    background-color: #c1f9c6;
}

.container {
    background-color: white;
    width: 100%;
}

.jumbotron {
    background-repeat: repeat;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}

.navbar {
    width: 100%;
    margin-bottom: 10px;
}

h1, #comicpanel {
    width: 100%;
    height: auto;
}

#next {
    max-width: 100%;
    height: auto;
}

#myinput {
    background-image: url('/searchIcon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

footer {
    background-color: black;
    color: white;
    line-height: 2em;
    justify-content: center;
}
