<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>

  <!-- Tell the server to use form-based authentication. -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/login-fail.jsp</form-error-page>
    </form-login-config>
  </login-config>

  <!-- Protect the user search page. -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>search</web-resource-name>
      <url-pattern>/search.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>general</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Protect the add page -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>add</web-resource-name>
      <url-pattern>/addCard.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>general</role-name>
    </auth-constraint>
  </security-constraint>


  <!-- Protect everything in the userOnly directory -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>user</web-resource-name>
      <url-pattern>/userOnly/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>general</role-name>
    </auth-constraint>
  </security-constraint>

  <security-role>
    <role-name>general</role-name>
  </security-role>

</web-app>
